@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 1440px;


}
header{
    width: 1200px;
    padding: 30px 120px;
}

section{
    width: 1110px;
    padding: 0 165px;
}

/* header */
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu h1{
    font-size: 1.5rem;
    font-weight: 700;
}

.menu-info{
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu-list{
    display: flex;
    list-style: none;
    gap: 20px;

}

.menu-list a{
    text-decoration: none;
}
.header-btn{
    border: none;
    background-color: white;
}

/* banner */

.banner{
    width: 1190px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 130px;
}

.banner-info{
    width: 582px;
}


.banner-info h1{
    font-size: 3.25rem;
    font-weight: 700
}

.banner-info p{
    font-weight: 600;
}

.banner-btn{
    background-color: #E02C6D;
    border-radius: 41px;
    color: white;
    padding: 10px 24px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    margin-bottom: 170px;
    
}

.banner-img img{
    margin-top: 35px;
    
}

.banner-img{
    background-image: url(./images/Circle\ design.svg);
    width: 475px;
    height: 475px;
}


/* logos */


.logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    margin: 0 auto;
    padding: 30px 40px;
    justify-content: center;
    margin-top: 70px;
    gap: 60px;
    border:1px solid rgba(192, 204, 218, 1);
    border-left: none;
    border-right: none;
    margin-bottom: 100px;
}