@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 1440px;
    


}
header{
    width: 1200px;
    padding: 30px 120px;
}

section{
    width: 1110px;
    padding: 0 165px;
}

/* header */
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu h1{
    font-size: 1.5rem;
    font-weight: 700;
}

.menu-info{
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu-list{
    display: flex;
    list-style: none;
    gap: 20px;

}

.menu-list a{
    text-decoration: none;
}
.header-btn{
    border: none;
    background-color: white;
}

/* banner */

.banner{
    width: 1190px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 130px;
}

.banner-info{
    width: 582px;
}


.banner-info h1{
    font-size: 3.25rem;
    font-weight: 700
}

.banner-info p{
    font-weight: 600;
}

.banner-btn{
    background-color: #E02C6D;
    border-radius: 41px;
    color: white;
    padding: 10px 24px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    margin-bottom: 170px;
    
}

.banner-img img{
    margin-top: 35px;
    
}

.banner-img{
    background-image: url(./images/Circle\ design.svg);
    width: 475px;
    height: 475px;
}


/* logos */


.logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    margin: 0 auto;
    padding: 30px 40px;
    justify-content: center;
    margin-top: 70px;
    gap: 60px;
    border:1px solid rgba(192, 204, 218, 1);
    border-left: none;
    border-right: none;
    margin-bottom: 100px;
}


/* cards */

.box-card{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 50px;
}

.cards h1{
    text-align: center;
}

.card-info{
    width: 300px;
    height: 450px;
   padding: 20px;
   border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  
    
}
.card-info h1,h5{
    margin: 0;
}
.card-info img{
    width: 300px;
    height: 256px;
}

.card-info h2{
    font-size: 1.75rem;
    
    color: #18191F;

}
.card-info h5{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 10px 0;
    
}
.cards span{
    color: #FB8200;
}

.card-info p{
    width: 196px;
    font-size: 14px;
    color: #787885;
}

.cards-btn{
    color: #E02C6D;
   border: none;
   background-color:white;
   font-weight: 700;
   margin-left: 1012px;
   margin-bottom: 102px;
}

/* feature */

.feature{
    display: flex;
    gap: 96px;
    justify-content: center;
    margin-bottom: 100px;
    
}

.feature img{
    width: 440px;
    height: 270px;
    border-radius: 7px;
}

.feature h1{
    font-size: 38px;
    color: #0A0826;
    font-weight: 700;
    line-height: 60px;
}
.feature p{
    color: #6C6C6C;
    font-weight: 700;
    line-height: 28px;
    width: 500px;
    height: 88px;
}

.feature button{
    background-color: #E02C6D;
    
    color: white;
    padding: 10px 34px;
    border: none;
    display: flex;
    align-items: center;
}